<footer class="footer mt-4">
    <div class="container ">
        <div class="row " >
            <div class="col-md-12 text-center footDiv">
                <p class="mt-4 ">&copy;  All Rights Reserved <span>|</span> Design by Saeed pk</p>
                <a href="/">brand square</a>
                <br>
                <a href="https://www.webcodge.com">
                 <img class="mb-4 " src="/images/webcodge.png" alt="" width="400px " >
                </a>
                

            </div>
        </div>
    </div>
</footer>
<style>
    .footer{
        background-color: #c4eed0;
        font-family: 'Googl Sans', sans-serif;
        letter-spacing: 2px;
        
        font-weight: normal;
        color: black;

    }.footDiv a{
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: x-large;
    }
</style>

