<section style="min-height: 100vh;">
    <div class="container">
        <div class="pt-5 mt-5 text-center">
            <h1 class=" text-success"><b>{{msg}}</b></h1>
            <p class="small">For more about your order click <b>View Orders</b></p>
            <a href="/view-orders" class="btn btn-primary mt-5 text-center pt-3" style="width: 15rem; height: 4rem; font-size: 20px;">View Orders</a>
        </div>
    </div>
</section>